.about{
    display:flex;
    background-color: #E9ECEF;
    justify-content: space-around;
    padding : 3.5rem 2rem;
    gap : 1rem;
    text-align: center;
    flex-wrap: wrap;
}

#pic{
    width : 370px;
    border-radius:50%;
}

.about__content{
    display : flex;
    flex-direction: column;
}

.about__content > h1{
    font-size: 3.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.about__content > p{
    font-size: 1.3rem;
    max-width : 700px;
    font-weight: 100;
    margin : auto;
    margin-top: 1rem;
}

.about__content > a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    border: 1px solid black;
    width : fit-content;
    padding : 0.5rem 1rem;
    margin : auto;
    border-radius: 5px;
    cursor: pointer;
}

.about__content > a:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}
