.exp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap : 2rem;
    /* width : 100vw; */
    margin : auto;
    padding : 3rem 3rem 5rem 3rem;
    text-align: center;
}

.exp > h1{
    font-size: 3.5rem;
    font-weight: 100;
    margin-bottom: 1.2rem;
}

.exp__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap : 5rem 15rem;
    flex-wrap: wrap;
    padding : 0rem 8rem;
}

.exp__content > div > img{
    width : 380px;
    margin-bottom: 1rem;
}

.exp__content > div > h3 {
    font-weight : 100;
}